.nav {
    display: flex;
    background-color: maroon;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav ul {
    display: flex;
    align-items: center ;
    padding: 0 10%;
    list-style: none;

}
.li{
    font-size: 16px;
    padding: 0 15px;
    color: white;
    transition: 0.2s;
    text-transform: uppercase;

}
